* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navs{
    /* background-color: #082B59!important; */
    border-bottom: 0.3rem solid #D98555;
}
.navbar-toggler{
    background-color: white;
}

.logo_image{
    height: 5rem;
    margin-left: 1rem;
}
.nav-item {
    margin-right: 0.9rem;
}

.nav-link{
    color: black !important;
    font-size: 23px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.nav-link:hover{
    background-color: rgb(126 0 244);
    color: white !important;
    border-radius: 3px;
}


.large_logo{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.large_logo>img{
    width: 80%;
    height: 400px;
}


/* Body content start  */
.body_conyainer {
    /* margin-top: 2rem; */
    padding: 3rem;
}

.content {
    display: flex;
    padding-top: 3rem
}

.content_text {
    width: 52%;
    margin-bottom: 1rem;
}

.content_text>p {
   
    /* padding-right: 3.5rem; */
    font-size: 19.2px;
    line-height: 38.4px;
    font-weight: 400;
    text-align: justify;
}

.content_image {
    width: 47%;
    padding-right: 1rem;
}

.bgimage>img {
    width: 100%;
    border-radius: 10px;
}

/* .image_Large {
    display: block;
}

.image_sm {
    display: none;
}

.image_mobile {
    display: none;
} */

.button {
    margin-top: 1rem;
}

.button>a {
    padding: 0.6rem;
    background-color: #59331D;
    text-decoration: none;
    color: white;
    border-radius: 7px;
}
/* Body content end  */


/* order section CSS  */
.order_section{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #610072 , #CBC3E3);
    
}
.order_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0rem;
    margin-top: 2rem;
    background-color: #ffffff38;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.a{ 
    /* background-color: #D98555; */
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.order_text{
    font-size: 30px;
    font-weight: 600;
    color: white;

}
.order_item_1{
    border-right: 3px solid #ffffff24;
}
.order_item_2 {
    padding: 2rem;
    border-right: 3px solid #ffffff24;

}
.a>a{
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: #fee589;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}
.a>a:hover{
    color: #fee589;
    background-color: white;
}
/* order section CSS  */


/* Footer section CSS  */
.footer{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(90deg, rgba(39,27,111,1) 0%, rgba(87,25,45,1) 100%); */
    background-color: rgb(255, 255, 255);
}
.footer_box{
    display: flex;
    justify-content: space-around;
    /* margin-top: 2rem; */

}
.footer_logo{
    width: 15rem;
}

.vl {
    border-left: 2px solid rgb(185, 185, 185);
    height: 65px;
  }
  .footer_text{
    font-size: 20px;
    font-weight: 400;
  }
  .address_icon{
    color: #8500f5;
  }
/* Footer section CSS  */



@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        position: absolute;
        right: 0;
    }
    }


    /* Media Query for responsive body content  */
@media screen and (max-width: 768px) {
    /* .image_Large {
        display: none;
    }

    .image_sm {
        display: block;
    }

    .image_mobile {
        display: none;
    } */

    .body_conyainer {
        margin-top: 2rem;
        padding: 0;
        padding-left: 3rem;
    }

    .content_text {
        width: 58%;
    }

    .content_text>p {
        font-size: 19px;
        padding-right: 1rem;
        line-height: 2;
    }
}

@media screen and (max-width: 425px) {
    
    .body_conyainer {
        margin-top: 2rem;
        padding: 0;
        padding-left: 1rem;

    }
    .content_image {
        width: 100%;
    }

    /* .image_Large {
        display: none;
    }

    .image_sm {
        display: none;
    }

    .image_mobile {
        display: block;
    } */

    .content_text {
        width: 100%;
    }

    .content {
        display: flex;
        padding-top: 3rem;
        flex-wrap: wrap;
    }
}
/* Media Query for responsive body content  */